
<!DOCTYPE html><html lang="">
<head>
<title>Vishnu Rathod ~ Template</title>
<!--ADD PIC LINK IN HREF BELOW FOR DISPLAYING LOGO WITH TITLE -->
<link rel="shortcut icon" href="logo.png">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
<!--bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!--google fonts-->
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<!--js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!--google fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ephesis&family=Lobster&display=swap" rel="stylesheet">

<!--google icon link-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--font awesomes icons link-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="style.css">

<script>
  
$(document).ready(function(){

//!--SKILL BAR ANIMATION

  var offsetTop = $('#skills').offset().top;
  $(window).scroll(function() {
var height = $(window).height();
if($(window).scrollTop()+height > offsetTop) {
  jQuery('.skillbar').each(function(){
    jQuery(this).find('.skillbar-bar').animate({
      width:jQuery(this).attr('data-percent')
    },2000);
  });
}
});

//FOR SCROLLING PAGE SMOOTHLY

$('[data-toggle="tooltip"]').tooltip(); 

// Add smooth scrolling to all links in navbar + fixed link
$("a").on('click', function(event) {

  // Make sure this.hash has a value before overriding default behavior
  if (this.hash !== "") {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 900, function(){
 
      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
    });
  } // End if
});
})

</script>
</head>
 
<!---Nav Bar-->

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="150">
<nav  class="navbar main-nav  navbar-default navbar-fixed-top">
  
  <div class="navbar-header" >
    <!--Creating toggle bar-->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"  style="background-color:rgb(255, 255, 255);">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>                        
    </button>
    <span> 
      <a class="navbar-brand" href="index.html" >Vishnu</a> 
    </span>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar" >
    <ul class="nav navbar-nav navbar-right ">
     
      <li><a href="#about"> ABOUT </a></li>
      <li><a href="#work"> WORK </a></li>
      <li><a href="#contact"> CONTACT </a></li>
      
    </ul>
  </div>


</nav>


<div id="section2"   class="container-fluid jumbotron text-center lobsterfont" style="margin-top:100px;background-color: white;">
  <h1>Hey there!</h1>
  <h1 style="display: inline;">I am</h1>
  <h1 style="color: #7372dd;display: inline;">Vishnu Rathod</h1>
  <p style="font-family: 'sans-serif';" >A passionate coding challenge</p>
   <!---ADD RESUME DOC IN THE PUBLIC FOLDER WITH OTHER FILES AND ADD ITS NAME BELOW IN HREF AND NAME OF FILE THAT SHOULD APPEAR AFTER DOWNLOAD IN 'DOWNLOAD'-->
 <!--- EXAMPLE: <a href="Resume.pdf" download="Myresume" class="btn">Download My Resume</a>-->
 <a href="https://drive.google.com/file/d/107CwCmiP6py7xEYcqIwyBMtNlBNM4hz2/view?usp=sharing" download="" class="btn btncolor">Download My Resume</a>

</div>  

 <!---ABOUT SECTION -->

<div  id="about" class="container-fluid text-center" style="background-color: #f5f5f5;">
  <h1 class="heading">ABOUT</h1>
  <hr class="solid">

  <div class="row">
     <div class="col-sm-12 col-md-4 col-lg 4 thumb">

<!---PIC AND INTRO-->

        <img onContextMenu="return false;"  src="pic.png" class="zoom img-fluid "  alt="mypic">
         
        <h3 align=left style="color: #67676e;">Vishnu Rathod</h3>
       <p align=justify>You are a Data Science undergraduate from GHRIBM with a strong focus on Python development, machine learning, and data science. You are passionate about improving your coding skills and developing applications, with a keen interest in working on machine learning projects.






       </p> 

     </div>    

<!---SKILLS --> 

    <div class="col-sm-12 col-md-8 col-lg ">

        <h3 align=left style="margin-left:2% ;" class="heading"> SKILLS</h3>
        <div id="skills">
            <div class="col-lg-8">
           <div class="skillbar clearfix " data-percent="90%">
               <div class="skillbar-title" style="background: #7372dd"><span>python</span></div>
               <div class="skillbar-bar" style="background: #7372dd"></div>
               <div class="skill-bar-percent">90%</div>
           </div> <!-- End Skill Bar -->
           
           <div class="skillbar clearfix " data-percent="70%">
               <div class="skillbar-title" style="background: #b7b6fd"><span>c++</span></div>
               <div class="skillbar-bar" style="background: #b7b6fd;"></div>
               <div class="skill-bar-percent">70%</div>
           </div> <!-- End Skill Bar -->
           
           <div class="skillbar clearfix " data-percent="50%">
               <div class="skillbar-title" style="background: #7372dd"><span>MATLAB</s></span></div>
               <div class="skillbar-bar" style="background: #7372dd"></div>
               <div class="skill-bar-percent">50%</div>
           </div> <!-- End Skill Bar -->
           
           <div class="skillbar clearfix " data-percent="80%">
               <div class="skillbar-title" style="background: #b7b6fd"><span>R Language</span></div>
               <div class="skillbar-bar" style="background: #b7b6fd"></div>
               <div class="skill-bar-percent">80%</div>
           </div> <!-- End Skill Bar -->
             </div> <!-- end of column 1 -->
             
            <div class="col-lg-6">
           <div class="skillbar clearfix " data-percent="45%">
               <div class="skillbar-title" style="background: #7372dd"><span>Wordpress</span></div>
               <div class="skillbar-bar" style="background: #7372dd;"></div>
               <div class="skill-bar-percent">45%</div>
           </div> <!-- End Skill Bar -->
           
           <div class="skillbar clearfix " data-percent="40%">
               <div class="skillbar-title" style="background: #b7b6fd"><span>Mla</span></div>
               <div class="skillbar-bar" style="background: #b7b6fd"></div>
               <div class="skill-bar-percent">40%</div>
           </div> <!-- End Skill Bar -->

           
           <div class="skillbar clearfix " data-percent="60%">
               <div class="skillbar-title" style="background: #7372dd"><span>MYSQL</span></div>
               <div class="skillbar-bar" style="background: #7372dd"></div>
               <div class="skill-bar-percent">60%</div>
           </div> <!-- End Skill Bar -->
             </div> <!-- end of column 2 -->
           </div>
           

    </div>  
  </div>

 
</div>

 <!---WORK SECTION -->

<div id="work" class="container-fluid  text-center " style="background-color: white;padding-bottom: 3%;">
      <h1 style="color: #67676e;">WORK</h1>
        <hr style="width:10%; color:#000;margin-bottom: 5%;" class="solid">
        
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 ">
              <span class="material-icons feature " >web</span>
              <h3 style="color: #67676e;" class="lobsterfont">Responsive</h3>
              <p>My layouts will work on any device, big or small.</p>
        
            </div>
        
            <div class="col-sm-12 col-md-3 col-lg-3 ">
              <span class="material-icons feature" >speed</span>
              <h3 style="color: #67676e;" class="lobsterfont">Fast</h3>
              <p>Fast load times and lag free interaction, my highest priority.</p>
            </div>
        
             <div class="col-sm-12 col-md-3 col-lg-3 ">
                <span class="material-icons feature" >lightbulb</span>
                <h3 style="color: #67676e;" class="lobsterfont">Intutive</h3>
                <p>Strong preference for easy to use, intuitive Website.</p>
            </div>
           
            <div class="col-sm-12 col-md-3 col-lg-3 ">
                <span class="material-icons feature" >dynamic_form</span>
                <h3 style="color: #67676e;" class="lobsterfont">Dynamic</h3>
                MATLAB
                <p>Websites don't have to be static, I love making pages come to life.</p>
                
            </div>
           </div>  
      
           <div class="row" style="margin-bottom: 5%;">
            <!-- <h3 class="heading" style="margin: 5%;">JUW SPORTS PORTAL</h3>
            <div class="container" style="margin: 6%;">
            
 <!---ABOUT PROJECT -->

          <!-- <p align="justify">JUWSP is an online sports portal for Jinnah University for Women's students. It consists of admin dashboard and user profiles. This portal enables the admin to posts latest news and events updates. Users can make differnt requests and customize their profiles.</p>
        </div>
       

          <div class="col-sm-12 col-md-4 col-lg-4 colmargin">
              <img onContextMenu="return false;"  src="admin.png"  class="zoom img-fluid "  alt="mypic">
            
           </div>
  

           <div class="col-sm-12 col-md-4 col-lg-4 colmargin">
            <img onContextMenu="return false;" src="home.png" class="zoom img-fluid "  alt="mypic">
             
           </div>
          

           <div class="col-sm-12  col-md-4 col-lg-4 colmargin">
             <img onContextMenu="return false;"  src="news.png" class="zoom img-fluid "  alt="mypic">
           
            </div>
           
         
       </div> --> -->
   
       
</div>

 <!---CONTACT SECTION -->

<div id="contact" class="container-fluid text-center" style="padding-bottom: 3%;background-color: #f5f5f5;">
    <h1 class="heading">CONTACT</h1>
    <hr  class="solid">
    <a href="#section2"  class="topButton"><span class="material-icons" >arrow_upward</span></a>
    <p style="color: #67676e;;">Connect This My Social Account</p>
    <!---Add your phone number at the end like (https://api.whatsapp.com/send?phone=12345678901)-->
    <!-- <a href="https://api.whatsapp.com/send?phone=" style="background-color: #25D366;" class="contactIcons"><i class="fa fa-whatsapp"></i></a> -->
     <!---Add email link like mailto:someone@example.com -->
    <!-- <a href=" "  style="background-color: #E60023;" class="contactIcons"><i class="fa fa-at"></i></a> -->
    <a href="https://www.linkedin.com/in/vishnu-rathod-94bab3253/?trk=public_profile_samename-profie&original_referer=https%3A%2F%2Fwww%2Egoogle%2Ecom%2F&originalSubdomain=in"  style="background-color: #0077b5;"  class="contactIcons"><i class="fa fa-linkedin-square"></i></a>
    <!-- <a href=" "  style="background-color:#1DA1F2;"  class="contactIcons"><i class="fa fa-twitter"></i></a> -->
 </div> 

  <!---FOOTER -->
<div class="container-fluid  text-center footer" >
   <a href="https://github.com/Pro-Vishnu">  <p>Designed by Pro-Vishnu</p></a>
</div>

</body>
</html>
